AUTH0_CLIENT_ID=""
AUTH0_CLIENT_SECRET=""
AUTH0_DOMAIN=""
BUILT_IN_FORGE_API_KEY=""
BUILT_IN_FORGE_API_URL=""
DATABASE_URL=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY=""
FIREBASE_PROJECT_ID=""
JWT_SECRET=""
NODE_ENV="development"
OAUTH_SERVER_URL=""
OWNER_NAME=""
OWNER_OPEN_ID=""
RESEND_API_KEY=""
VAPID_PRIVATE_KEY=""
VAPID_PUBLIC_KEY=""
VITE_ANALYTICS_ENDPOINT=""
VITE_ANALYTICS_WEBSITE_ID=""
VITE_APP_ID=""
VITE_APP_LOGO=""
VITE_APP_TITLE=""
VITE_FRONTEND_FORGE_API_KEY=""
VITE_FRONTEND_FORGE_API_URL=""
VITE_GOOGLE_MAPS_API_KEY=""
VITE_OAUTH_PORTAL_URL=""
VITE_VAPID_PUBLIC_KEY=""
VITE_API_URL=""
